h1.text-primary booklub 
h2 a hub for learning together
p manage notes, resources, schedules, and discussions
= link_to new_user_registration_path
  button.btn.btn-success.btn-lg.cta-primary Get Started
= render 'svg/splash'
