h1.text-primary booklub 
h2 more than books
p manage notes, resources, schedules, and discussions
= link_to new_user_registration_path
  button.btn.btn-primary.btn-lg.cta-primary Get Started
= render 'svg/splash'
