/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import './variables';
 @import 'bootstrap';
 @import "font-awesome";

.validation-errors {
  color: $error;
}

body {
  font-family: 'Comfortaa', Helvetica, sans-serif;
}

h1 {
  font-family: 'Righteous', Helvetica, sans-serif;
}

small {
  margin: 0;
}

main {
  display: grid;
  place-items: center;
  margin: 2em auto;
  max-width: 100em;
  width: 90%;
  text-align: center;
}

.sign-up-form, .login-form {
  border: 2px solid $secondary;
  border-radius: 0.5em;
  background: linear-gradient(to bottom right, $primary 75%, $secondary);
  color: $white;
  padding: 2em;

  @media screen and (min-width: 40rem){
    padding: 2em 4em;
  }

  form {
    width: 100%;
  }

  label {
    margin-top: 2em;
  }

  .field, button, .submit, input:not(input[type='checkbox']) {
    width: 100%;
    margin-top: 1em;
  }

  .actions {
    margin: 1em auto;
  }

  input[type='checkbox'] {
    margin-right: 1em;
  }

  a {
    color: $white;
    margin-top: 2em
  }
}
