/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import './variables';
 @import 'bootstrap';
 @import "font-awesome";

body {
  font-family: 'Comfortaa', Helvetica, sans-serif;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), 90%, $secondary);
}

h1 {
  font-family: 'Righteous', Helvetica, sans-serif;
}

nav {
  z-index: 2;
}

small {
  margin: 0;
}

main {
  display: grid;
  place-items: center;
  margin: 0;
  max-width: 100em;
  width: 100%;
  text-align: center;
}

.sign-up-form, .login-form, .forgot-password-form {
  border: 2px solid $secondary;
  background: linear-gradient(to bottom right, $secondary 25%, $primary);
  color: $white;
  padding: 2em;

  @media screen and (min-width: 40rem){
    padding: 2em 4em;
  }

  form {
    width: 100%;
  }

  label {
    margin-top: 2em;
  }

  .actions {
    margin: 1em auto;

    input.btn.btn-success {
      border: 1px solid $secondary;
      border-radius: 0;
    }
  }

  .field {
    button,
    input[type='text'],
    input[type='email'],
    input[type='submit'],
    input[type='password'] {
      min-width: 18em;
      max-width: 20em;
      width: 100%;
      border: 1px solid $secondary;
      border-radius: 0;
      padding: .5em;
    }
  
    input[type='checkbox'] {
      margin-right: 1em;
    }
  }

  a {
    color: $white;
    margin-top: 2em
  }
}

button, input[type='submit'] {
  box-shadow: 0.25em 0.25em 2em $black;
}
