$primary: #023544;
$primary-dark: #00151b;
$secondary: #f0896a;
$white: #f1f1e6;
$gray-light: #afafaf;
$gray-medium: #6a6a6a;
$gray-dark: #444444;
$black: #222222;

$error: #f73b47;
$success: #006B8B;
